@font-face {
    font-family: Ubuntu;
    font-weight: 300;
    src: url('fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    font-weight: 400;
    src: url('fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    font-weight: 500;
    src: url('fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    font-weight: 700;
    src: url('fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}
